body{
font-family: Arial;
background: linear-gradient(135deg,#4facfe,#00f2fe);
height:100vh;
margin:0;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
width:400px;
}

h1,h2{
margin-bottom:20px;
}

input{
padding:10px;
width:80%;
border:1px solid #ccc;
border-radius:5px;
}

button{
background:#4facfe;
border:none;
padding:10px 20px;
color:white;
border-radius:5px;
cursor:pointer;
}

.btn{
display:block;
margin:10px;
padding:10px;
background:#4facfe;
color:white;
text-decoration:none;
border-radius:5px;
}

.score{
font-size:40px;
color:#333;
margin:20px;
}