body{
font-family: Arial;
background:#f4f6ff;
text-align:center;
padding:40px;
}

h1{
color:#333;
}

.menu a{
display:inline-block;
margin:20px;
padding:15px 30px;
background:#4CAF50;
color:white;
text-decoration:none;
border-radius:8px;
}

form{
margin-top:30px;
}

button{
padding:10px 20px;
background:#2196F3;
color:white;
border:none;
border-radius:5px;
}